Repository qubitquilt/SupaControl: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Resolve GitHub Actions CI failures
  .github/workflows/ci.yml
  .golangci.yml
  server/go.mod
  server/go.sum
  ui/.eslintrc.json
Due: backend

fix: Resolve remaining CI test and lint failures
  .github/workflows/ci.yml
  server/internal/auth/auth_test.go
  ui/src/api.test.js
  ui/src/pages/Settings.jsx
  ui/src/test/setup.js
Due: backend, frontend

fix: Replace fmt.Sscanf with strings.Split for Argon2 hash parsing
  server/internal/auth/auth.go
Due: backend

fix: Add dependency download to lint-backend and build jobs
  .github/workflows/ci.yml
Due: none

fix: Add go mod tidy to backend lint dependencies step
  .github/workflows/ci.yml
Due: none

fix: Resolve golangci-lint errors
  server/api/handlers.go
  server/api/middleware.go
  server/internal/config/config.go
  server/internal/db/db.go
  server/internal/k8s/orchestrator.go
Due: backend

fix: Add missing fmt import to middleware.go
  server/api/middleware.go
Due: backend

fix: Update upload-artifact action from v3 to v4
  .github/workflows/ci.yml
Due: none

fix: Add go mod tidy to build job dependencies step
  .github/workflows/ci.yml
Due: none

Address code review feedback: Add CLI tests, improve logging, and fix configuration issues
  cli/package.json
  cli/src/cli.tsx
  cli/src/components/ConfigurationWizard.tsx
  cli/src/components/Installation.tsx
  cli/src/utils/helm.test.ts
  cli/src/utils/helm.ts
  cli/src/utils/prerequisites.test.ts
  cli/src/utils/secrets.test.ts
  cli/vitest.config.ts
  codecov.yml
  server/api/handlers.go
  server/api/middleware.go
  server/internal/db/db.go
Due: backend

refactor: Transform SupaControl to Kubernetes Operator pattern
  deploy/crds/supacontrol.qubitquilt.com_supabaseinstances.yaml
  deploy/rbac/rbac.yaml
  docs/OPERATOR_ARCHITECTURE.md
  docs/OPERATOR_REFACTOR_SUMMARY.md
  server/api/handlers.go
  server/api/v1alpha1/groupversion_info.go
  server/api/v1alpha1/supabaseinstance_types.go
  server/api/v1alpha1/zz_generated.deepcopy.go
  server/controllers/supabaseinstance_controller.go
  server/go.mod
  server/go.sum
  server/internal/k8s/crclient.go
  server/internal/k8s/k8s.go
  server/main.go
Due: backend

fix: Remove duplicate GetConfig method in k8s client
  server/internal/k8s/k8s.go
Due: backend

fix: Address code review feedback - security, robustness, and maintainability improvements
  deploy/rbac/rbac.yaml
  server/api/handlers.go
  server/controllers/supabaseinstance_controller.go
  server/internal/config/config.go
  server/main.go
Due: backend

fix: Remove unused import and fix fmt.Errorf linting error
  server/api/handlers.go
  server/controllers/supabaseinstance_controller.go
Due: backend

style: Run gofmt to fix formatting issues
  server/api/handlers.go
  server/api/v1alpha1/zz_generated.deepcopy.go
  server/main.go
Due: backend

feat: Enhance production-readiness - HA support, timeouts, and status tracking
  docs/OPERATOR_ARCHITECTURE.md
  pkg/api-types/types.go
  server/controllers/supabaseinstance_controller.go
  server/internal/config/config.go
  server/main.go
Due: backend

fix: Pin rollup to 4.52.5 to avoid postinstall bug in 4.53.0
  ui/package.json
Due: none

chore: Add package-lock.json with pinned rollup version
  ui/package-lock.json
Due: none

docs: Add shields.io technology badges to README
  README.md
Due: none

docs: Update status badges to use for-the-badge style
  README.md
Due: none

docs: Add CLI tool section and supactl alignment recommendations
  README.md
  SUPACTL_ALIGNMENT_RECOMMENDATIONS.md
Due: none

Add MIT License file
  LICENSE.md
Due: none

Fix Go Report Card URL to use correct module path
  README.md
Due: none

Fix npm install error in CLI installer
  cli/package-lock.json
  cli/package.json
Due: none

Add postinstall script to properly configure patch-package
  cli/package-lock.json
  cli/package.json
Due: none

Fix Node.js v20+ compatibility by using --import instead of --loader for tsx
  cli/package.json
Due: none

Update Node.js version requirements to match tsx@4+ dependencies
  cli/package.json
Due: none

build(cli): migrate to ES modules with Node.js module resolution
  cli/package-lock.json
  cli/package.json
  cli/src/components/Complete.tsx
  cli/src/components/ConfigurationWizard.tsx
  cli/src/utils/helm.test.ts
  cli/src/utils/prerequisites.test.ts
  cli/src/utils/secrets.test.ts
  cli/tsconfig.json
  cli/tsx.config.json
  package-lock.json
Due: none

build(cli): update dependencies and config for ES modules migration
  cli/package-lock.json
  cli/package.json
  cli/src/utils/prerequisites.test.ts
  cli/tsconfig.json
  package-lock.json
Due: none

build(cli): add shebang banner and fix test mocks for es modules
  cli/package.json
  cli/src/utils/prerequisites.test.ts
Due: none

feat: update default service port from 8080 to 8091
  .env.example
  Dockerfile
  README.md
  charts/supacontrol/Chart.yaml
  charts/supacontrol/templates/deployment.yaml
  charts/supacontrol/values.yaml
  cli/README.md
  cli/package-lock.json
  cli/package.json
  cli/src/components/Complete.tsx
  cli/src/components/ConfigurationWizard.tsx
  cli/src/components/Installation.tsx
  cli/src/utils/helm.ts
  cli/src/utils/prerequisites.ts
  server/go.mod
  server/go.sum
  server/internal/config/config.go
  server/internal/config/config_test.go
  server/internal/db/migrations/001_initial_schema.sql
  ui/vite.config.js
Due: backend

chore(supacontrol): update postgresql version to 14.11.0 for stability
  charts/supacontrol/values.yaml
Due: none

chore(config): improve security by auto-generating secrets and removing hardcoded credentials
  Dockerfile
  README.md
  charts/supacontrol/templates/secret.yaml
  charts/supacontrol/values.yaml
  cli/src/components/ConfigurationWizard.tsx
Due: none

refactor(config): improve database configuration validation logic
  cli/src/components/ConfigurationWizard.tsx
Due: none

docs(docs): remove operator architecture documentation
  docs/OPERATOR_ARCHITECTURE.md
  docs/OPERATOR_REFACTOR_SUMMARY.md
Due: none

docs(testing): update documentation with current coverage status and action items
  TESTING.md
Due: none

build(deps): include go.sum in server copy
  Dockerfile
Due: none

refactor(config): extract database validation logic into helper function
  cli/src/components/ConfigurationWizard.tsx
Due: none

refactor(ui): simplify installation step status update logic
  cli/src/components/Installation.tsx
Due: none

fix(cli): correct pod readiness check logic
  cli/src/utils/helm.ts
Due: none

Path conditions:
  backend: any of: server/
  frontend: any of: ui/src/
