Repository qubitquilt/SupaControl: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, cli

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 70%
        threshold: 5%
    patch:
      default:
        target: 70%

  ignore:
    - "**/*_test.go"
    - "**/test/**"
    - "**/tests/**"
    - "ui/src/test/**"
    - "**/*.test.js"
    - "**/*.test.jsx"
    - "**/*.test.ts"
    - "**/*.test.tsx"
    - "**/*.config.js"
    - "**/*.config.ts"
    - "cli/src/cli.tsx"
    - "cli/src/components/Welcome.tsx"
    - "cli/src/components/Complete.tsx"

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false

flags:
  backend:
    paths:
      - server/
    carryforward: true

  frontend:
    paths:
      - ui/src/
    carryforward: true

  cli:
    paths:
      - cli/src/
    carryforward: true

refactor(cli): simplify runHelmCommand timeout handling
  cli/src/utils/helm.ts
Due: cli

test(cli): improve test coverage above 70% target
  cli/package-lock.json
  cli/package.json
  cli/src/components/Complete.test.tsx
  cli/src/components/ConfigurationWizard.test.tsx
  cli/src/components/Installation.test.tsx
  cli/src/components/PrerequisitesCheck.test.tsx
  cli/src/components/Welcome.test.tsx
  cli/src/utils/helm.test.ts
Due: cli

fix(cli): update helm tests to match simplified implementation
  cli/src/utils/helm.test.ts
Due: cli

refactor(cli): improve test reliability per code review
  cli/src/components/ConfigurationWizard.test.tsx
  cli/src/components/Installation.test.tsx
Due: cli

docs: add comprehensive CLAUDE.md for AI assistant guidance
  CLAUDE.md
Due: none

docs: comprehensive documentation overhaul - enhanced README, CONTRIBUTING, added ARCHITECTURE, and GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
Due: none

docs: fix documentation inconsistencies
  CLAUDE.md
Due: none

docs: correct documentation dates to November 2025
  ARCHITECTURE.md
  CLAUDE.md
Due: none

docs: restructure documentation into organized subdirectories
  README.md
  docs/API.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
Due: none

docs: add comprehensive KUBECONFIG setup guidance for local development
  README.md
  docs/DEVELOPMENT.md
Due: none

docs: implement ADR-001 - CRD as single source of truth
  ARCHITECTURE.md
  CLAUDE.md
  docs/adr/001-crd-as-single-source-of-truth.md
  server/internal/db/instances.go
  server/internal/db/migrations/003_remove_instances_table.sql
Due: backend

test: add comprehensive API handler tests (WIP)
  server/api/handlers_test.go
  server/api/interfaces.go
Due: backend

fix: resolve API handler test compilation errors
  server/api/handlers.go
  server/api/handlers_test.go
  server/api/interfaces.go
Due: backend

fix: resolve all API handler test compilation and type issues
  server/api/handlers.go
  server/api/handlers_test.go
Due: backend

style: apply gofmt formatting to handlers_test.go
  server/api/handlers_test.go
Due: backend

refactor: split monolithic test file into modular components
  server/api/handlers_auth_test.go
  server/api/handlers_health_test.go
  server/api/handlers_instances_test.go
  server/api/handlers_test.go
  server/api/test_helpers.go
Due: backend

test: add comprehensive database layer tests (31 test functions, 1,273 lines)
  server/internal/db/api_keys_test.go
  server/internal/db/db_test.go
  server/internal/db/test_helpers.go
Due: backend

fix: remove unused test helper functions
  server/internal/db/test_helpers.go
Due: backend

fix: exclude SA5011 staticcheck false positives
  .golangci.yml
Due: none

refactor: improve test helper consistency and robustness
  server/api/test_helpers.go
  server/internal/db/test_helpers.go
Due: backend

feat: implement Job-based provisioning and cleanup pattern (ADR-002)
  deploy/crds/supacontrol.qubitquilt.com_supabaseinstances.yaml
  docs/adr/002-job-based-provisioning-pattern.md
  server/api/v1alpha1/supabaseinstance_types.go
  server/controllers/job_helpers.go
  server/controllers/supabaseinstance_controller.go
Due: backend

fix: address PR review feedback - critical resource lifecycle and documentation fixes
  docs/adr/002-job-based-provisioning-pattern.md
  server/controllers/job_helpers.go
  server/controllers/supabaseinstance_controller.go
Due: backend

feat: add RBAC resources for provisioner Jobs
  charts/supacontrol/templates/provisioner-rbac.yaml
  charts/supacontrol/values.yaml
Due: none

feat: add comprehensive controller tests for Job-based pattern
  server/controllers/README_TEST.md
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller_test.go
Due: backend

fix: apply gofmt formatting to controller tests
  server/controllers/supabaseinstance_controller_test.go
Due: backend

fix: address PR security review - improve RBAC and test error handling
  charts/supacontrol/templates/provisioner-rbac.yaml
  docs/security/ADVISORY-001-provisioner-rbac.md
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller_test.go
Due: backend

fix: add missing types import and fix undefined req in tests
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller_test.go
Due: backend

fix: allow controller tests to skip when envtest unavailable
  server/controllers/suite_test.go
Due: backend

ci: enable controller tests with envtest binaries
  .github/workflows/ci.yml
Due: none

fix: ensure setup-envtest is in PATH and binaries are downloaded
  .github/workflows/ci.yml
Due: none

fix: improve envtest setup with proper PATH handling and verification
  .github/workflows/ci.yml
Due: none

fix: use correct flag -p path instead of --print-path for setup-envtest
  .github/workflows/ci.yml
Due: none

fix: correct CRD path for controller tests
  server/controllers/suite_test.go
Due: backend

fix: create supacontrol-system namespace in controller tests
  server/controllers/suite_test.go
Due: backend

fix: create instance namespaces in controller tests when Jobs succeed
  server/controllers/suite_test.go
Due: backend

fix: improve namespace creation in setJobSucceeded with better error handling
  server/controllers/suite_test.go
Due: backend

fix: use setJobSucceeded helper in all controller tests
  server/controllers/supabaseinstance_controller_test.go
Due: backend

fix: change Requeue to RequeueAfter with proper timing
  server/controllers/supabaseinstance_controller.go
Due: backend

fix: update TestCleanupViaJob to expect job creation error
  server/controllers/supabaseinstance_controller_test.go
Due: backend

feat: Significantly improve test coverage across backend and frontend
  .github/workflows/ci.yml
  TESTING_IMPROVEMENTS.md
  server/controllers/README_TEST.md
  server/internal/k8s/crclient_test.go
  server/internal/k8s/k8s_mock_test.go
  ui/src/pages/Dashboard.test.jsx
  ui/src/pages/Login.test.jsx
  ui/src/test/setup.js
  ui/src/test/test-utils.jsx
  ui/vite.config.js
Due: backend, frontend
