Repository qubitquilt/SupaControl: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, cli

refactor(controllers): make name suffix counter thread-safe using atomic operations
  server/controllers/suite_test.go
Due: backend

style(api): remove extra empty line in handlers lifecycle test
  server/api/handlers_lifecycle_test.go
Due: backend

build(lint): update linter configuration to golangci v2
  .golangci.yml
Due: none

refactor(server): improve error handling and resource cleanup patterns
  server/api/handlers.go
  server/api/handlers_auth_test.go
  server/api/handlers_instances_test.go
  server/api/handlers_lifecycle_test.go
  server/api/middleware_test.go
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller.go
  server/internal/auth/auth.go
  server/internal/config/config.go
  server/internal/config/config_test.go
  server/internal/db/api_keys.go
  server/internal/db/db_test.go
  server/internal/db/test_helpers.go
  server/internal/k8s/orchestrator.go
  server/internal/metrics/metrics_test.go
  server/main.go
Due: backend

build(lint): remove exclude rules and output sorting from golangci config
  .golangci.yml
Due: none

ci(lint): pin golangci-lint version to v2.6.1
  .github/workflows/ci.yml
Due: none

ci(lint): fix golangci-lint output format argument name
  .github/workflows/ci.yml
Due: none

ci: upgrade golangci-lint-action to v6
  .github/workflows/ci.yml
Due: none

ci(lint): upgrade golangci-lint-action to v7
  .github/workflows/ci.yml
Due: none

ci: add comprehensive local code quality checks and pre-commit hooks
  .pre-commit-config.yaml
  Makefile
  docs/DEVELOPMENT.md
  scripts/pre-commit.sh
  server/api/handlers.go
  server/api/handlers_lifecycle_test.go
  server/controllers/job_helpers.go
  server/controllers/supabaseinstance_controller.go
  server/internal/config/config.go
  server/internal/k8s/crclient.go
  server/internal/metrics/metrics.go
  server/main.go
Due: backend

ci: remove redundant go-vet-local hook and improve debug print detection
  .pre-commit-config.yaml
  scripts/pre-commit.sh
Due: none

Add comprehensive tests for api_keys.go CRUD operations
  .pre-commit-config.yaml
  server/internal/db/api_keys_test.go
Due: backend

Add comprehensive tests for Client.WithinTransaction method
  server/internal/db/db_test.go
Due: backend

chore(cli): standardize indentation and append newline to config
  cli/src/components/ConfigurationWizard.tsx
  cli/src/components/Installation.tsx
  cli/src/utils/helm.ts
  cli/tsx.config.json
Due: cli

Fix database test issues: use separate clients for error simulation to avoid cleanup conflicts
  server/internal/db/db_test.go
Due: backend

Fix test assertions for VARCHAR(255) length limits in API key tests
  server/internal/db/api_keys_test.go
Due: backend

Remove misleading TestClient_GetAPIKeyByHash_ExactExpirationBoundary test
  server/internal/db/api_keys_test.go
Due: backend

Simplify contains helper function to use strings.Contains
  server/internal/db/db_test.go
Due: backend

docs: update documentation for architectural changes and clarifications
  CLAUDE.md
  README.md
  cli/README.md
Due: none

docs: improve alignment of architecture diagrams in README
  README.md
Due: none

feat(cli): add non-interactive mode, config encryption, and reboot command
  cli/src/cli.tsx
  cli/src/components/ConfigurationWizard.tsx
  cli/src/components/Installation.tsx
  cli/src/utils/config.ts
  cli/src/utils/helm.ts
Due: cli

chore(helm): update service to NodePort and configure defaults
  Dockerfile
  charts/supacontrol/templates/service.yaml
  charts/supacontrol/values.yaml
Due: none

feat(server): enhance security and add UI routing support
  server/go.mod
  server/go.sum
  server/internal/db/migrations/002_seed_data.sql
  server/main.go
Due: backend

feat(server): enhance UI static file serving with middleware
  server/main.go
Due: backend

feat(server): disable metrics server for security improvements
  server/go.mod
  server/go.sum
  server/main.go
Due: backend

build(server): remove temporary controller-runtime replace directive
  server/go.mod
  server/go.sum
Due: backend

refactor(security): implement secure two-tiered RBAC model
  ARCHITECTURE.md
  CONTRIBUTING.md
  GEMINI.md
  README.md
  SUPACTL_ALIGNMENT_RECOMMENDATIONS.md
  TESTING.md
  TESTING_IMPROVEMENTS.md
  charts/supacontrol/values.yaml
  cli/README.md
  cli/src/utils/helm.test.ts
  docs/API.md
  docs/DEPLOYMENT.md
  docs/DEVELOPMENT.md
  docs/DOCUMENTATION.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  pkg/api-types/types.go
  server/api/handlers.go
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller.go
Due: backend, cli

refactor(security): move RBAC resources to instance namespaces for isolation
  server/controllers/job_helpers.go
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller.go
Due: backend

Path conditions:
  backend: any of: server/
  frontend: any of: ui/src/
  cli: any of: cli/src/
