Repository qubitquilt/SupaControl: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend, cli

fix: Add ESLint configuration for Vitest test files
  ui/.eslintrc.json
Due: none

fix: Resolve test compilation and linting issues
  server/internal/k8s/crclient_test.go
  server/internal/k8s/k8s.go
  server/internal/k8s/k8s_mock_test.go
  server/internal/k8s/k8s_utils_test.go
  ui/src/pages/Login.test.jsx
Due: backend, frontend

fix: Remove invalid vitest-globals/env from ESLint config
  ui/.eslintrc.json
Due: none

fix: Remove duplicate k8s_utils_test.go file
  server/internal/k8s/k8s_utils_test.go
Due: backend

fix: Resolve Dashboard test timeouts by removing global fake timers
  ui/src/pages/Dashboard.test.jsx
  ui/vite.config.js
Due: frontend

fix: Remove unused afterEach import from Dashboard tests
  ui/src/pages/Dashboard.test.jsx
Due: frontend

fix: Simplify Dashboard tests to core functionality only
  ui/src/pages/Dashboard.test.jsx
Due: frontend

fix: Lower backend coverage threshold from 40% to 35%
  .github/workflows/ci.yml
Due: none

fix: Address code review feedback - Login bug and unused mock
  ui/src/pages/Login.jsx
  ui/src/pages/Login.test.jsx
  ui/src/test/setup.js
Due: frontend

feat: Implement instance lifecycle endpoints (start/stop/restart/logs)
  charts/supacontrol/templates/rbac.yaml
  server/api/handlers.go
  server/api/handlers_auth_test.go
  server/api/handlers_instances_test.go
  server/api/interfaces.go
  server/api/router.go
  server/api/test_helpers.go
  server/internal/k8s/k8s.go
  server/main.go
Due: backend

refactor: Improve GetLogs performance and reduce code duplication
  server/api/handlers.go
Due: backend

test: Add comprehensive unit tests for lifecycle endpoints
  server/api/handlers_lifecycle_test.go
Due: backend

test: Add tests for RestartInstance and GetLogs handlers
  server/api/handlers_lifecycle_test.go
Due: backend

docs: Remove references to deleted instances.go file (Workstream II)
  CLAUDE.md
  CONTRIBUTING.md
Due: none

build: downgrade Go version from 1.24 to 1.21 and update dependencies
  Dockerfile
  charts/supacontrol/templates/rbac.yaml
  charts/supacontrol/values.yaml
  deploy/rbac/rbac.yaml
  pkg/api-types/go.mod
  pkg/api-types/types.go
  server/controllers/supabaseinstance_controller.go
  server/go.mod
  server/main.go
Due: backend

chore(rbac): remove watch verb from RBAC permissions in controller
  server/controllers/supabaseinstance_controller.go
Due: backend

feat: Implement comprehensive observability features (Workstream IV)
  server/api/middleware.go
  server/api/middleware_test.go
  server/api/router.go
  server/controllers/supabaseinstance_controller.go
  server/go.mod
  server/internal/metrics/metrics.go
  server/internal/metrics/metrics_test.go
Due: backend

refactor(controller): remove owner references from job creation
  server/controllers/job_helpers.go
Due: backend

test: Verify metrics are actually recorded in middleware tests
  server/api/middleware_test.go
Due: backend

refactor: Use typed context key for logger to prevent collisions
  server/api/middleware.go
Due: backend

refactor: Use numeric status codes in metric labels for stability
  server/api/middleware.go
  server/api/middleware_test.go
Due: backend

refactor: Move AllPhases to v1alpha1 package as single source of truth
  server/api/middleware_test.go
  server/api/v1alpha1/supabaseinstance_types.go
  server/controllers/supabaseinstance_controller.go
  server/go.mod
  server/internal/metrics/metrics_test.go
Due: backend

style: Apply gofmt formatting fixes
  server/api/router.go
  server/internal/metrics/metrics_test.go
Due: backend

fix: Use 'unknown' phase label for fetch errors in reconciliation metrics
  server/controllers/supabaseinstance_controller.go
Due: backend

refactor(api-types): update APIKey struct with db tags and field renames
  pkg/api-types/types.go
Due: none

fix(api-types): exclude key hash from JSON serialization
  pkg/api-types/types.go
Due: none

build: correct ui dist copy path in dockerfile
  Dockerfile
Due: none

refactor(api-types): expose key hash in APIKey JSON and rename response field
  pkg/api-types/types.go
Due: none

feat(controllers): set controller reference for provisioning job
  server/controllers/job_helpers.go
Due: backend

feat(controllers): add owner references to jobs and resource ownership
  pkg/api-types/types.go
  server/controllers/job_helpers.go
  server/controllers/supabaseinstance_controller.go
Due: backend

style(controllers): remove extra spaces in owner references
  server/controllers/job_helpers.go
Due: backend

fix(ci): update Node.js version to 20 for Vite 7 compatibility
  .github/workflows/ci.yml
Due: none

fix(deps): upgrade controller-runtime to v0.21.0 for k8s v0.33 compatibility
  server/go.mod
  server/go.sum
Due: backend

refactor: fix deprecation warnings from controller-runtime v0.21
  server/controllers/job_helpers.go
  server/controllers/supabaseinstance_controller.go
Due: backend

test: fix result.Requeue deprecation warnings in tests
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller_test.go
Due: backend

Apply changes from jules_session zip
  .github/workflows/ci.yml
  server/controllers/job_helpers.go
  server/controllers/suite_test.go
  server/controllers/supabaseinstance_controller.go
  server/controllers/supabaseinstance_controller_test.go
  server/go.mod
  server/go.sum
  ui/package-lock.json
  ui/package.json
Due: backend

ci(workflows): switch to ubuntu-latest runners and add colored output
  .github/workflows/ci.yml
  server/controllers/suite_test.go
Due: backend

ci(workflows): fix helm lint args format from --output-format to --out-format
  .github/workflows/ci.yml
Due: none

test/controllers): add name length compliance and sanitization tests for createBasicInstance
  server/controllers/suite_test.go
Due: backend

test(controllers): improve unique name generation in createBasicInstance
  server/controllers/suite_test.go
Due: backend

Path conditions:
  backend: any of: server/
  frontend: any of: ui/src/
  cli: any of: cli/src/
